pandas
numpy
ipykernel
nltk
networkx
pandas-profiling
scikit-learn
torch
torchvision
torchaudio
torch-scatter -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-geometric
imbalanced-learn
optuna
umap-learn
sentence-transformers
pytorch-lightning
pyvis